*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#mainSection{
    height: 100vh;
    display: grid;
    /* place-content: center; */
    grid-template-areas: 
    'H H H'
    'LA M RA'
    'F F F';
}
#mainSection header{
    background-color: aquamarine;
    grid-area: H;
}
#mainSection .leftAside{
    background-color: cadetblue;
    grid-area: LA;
}
#mainSection main{
    grid-area: M;
}
#mainSection .rightAside{
    background-color: violet;
    grid-area: RA;
}
#mainSection footer{
    background-color: cornflowerblue;
    grid-area: F;
}