*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
}
@media screen and (min-width:1000px) and (max-width:2500px){
    #mainGrid article{
        display: flex;
        flex-direction: column;
    }
    #mainGrid article header ul{
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        background-color: rgb(3, 3, 84);
    }
    #mainGrid article header ul li:nth-child(1),:nth-child(9){
        display: none;
    }
    #mainGrid article header ul li{
        padding: 20px;
        color: white;
        font-size: 25px;
    }
    #mainGrid article main{
        display: flex;
    }
    #mainGrid article main figure{
        flex-basis: 40%;
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #mainGrid article main div{
        flex-basis: 60%;
        padding: 50px;
    }
    #mainGrid article img{
        height: 350px;
    }
}
@media screen and (min-width:650px) and (max-width:1000px){
    #mainGrid article{
        display: flex;
        flex-direction: column;
    }
    #mainGrid article header ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-evenly;
        overflow-wrap: break-word;
        list-style: none;
        background-color: rgb(3, 3, 84);
    }
    #mainGrid article header ul li{
        padding: 20px;
        color: white;
        font-size: 25px;
    }
    #mainGrid article header ul li:nth-child(1),:nth-child(5),:nth-child(6),:nth-child(7),:nth-child(8),:nth-child(9){
        display: none;
    }
    #mainGrid article main{
        display: flex;
        flex-direction: column;
    }
    #mainGrid article main figure{
        flex-basis: 40%;
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #mainGrid article main div{
        flex-basis: 60%;
        padding: 50px;
    }
    #mainGrid article img{
        height: 250px;
        /* width: 100%; */
    }
}
@media screen and (min-width:0px) and (max-width:650px){
    #mainGrid article{
        display: flex;
        flex-direction: column;
    }
    #mainGrid article header ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
        background-color: rgb(3, 3, 84);
    }
    #mainGrid article header ul li:nth-child(2),:nth-child(3),:nth-child(4),:nth-child(5),:nth-child(6),:nth-child(7),:nth-child(8){
        display: none;
    }
    #mainGrid article header ul li{
        padding: 20px;
        color: white;
        font-size: 25px;
    }
    #mainGrid article main{
        display: flex;
        flex-direction: column;
    }
    #mainGrid article main figure{
        flex-basis: 40%;
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #mainGrid article main div{
        flex-basis: 60%;
        padding: 50px;
    }
    #mainGrid article img{
        height: 150px;
        width: 150px;
        border-radius: 100%;
    }
}