.abc{background-color: aqua;}
#xyz{background-color: aquamarine;}/*can use same ids but not good practice*/
.abc1{background-color: burlywood;}
.abc2{background-color: brown;}/*overrididng*/
#xyz1{background-color: burlywood;}/*cannot use multiple ids*/
#xyz2{background-color: brown;}/*cannot use multiple ids*/
pre,h3{background-color: blueviolet;}/*grouping selector*/
b{background-color: aqua;}/*tag/element selector*/
#descendant p{background-color: blanchedalmond;}
#child >p{background-color: coral;}
#adjacent+p{background-color: aqua;}
#general~p{background-color: antiquewhite;}
#anchor-pseudo a:link{color: red;}
#anchor-pseudo a:visited{color: blue;}
#anchor-pseudo a:active{color: green;}
button:hover{
background-color: cornflowerblue;
color: white;
outline: 2px solid;
}
div:hover u{
display: block;
background-color: aquamarine;
width: fit-content;
}