/* element selector */
h2{background-color: crimson;}
/* class selector */
.paragraph{background-color: blue;}
/* id selector */
#division{background-color: chartreuse;}
/* group selector */
p div{background-color: aquamarine;}
div p{background-color: aquamarine;}
section div:first-child{background-color: aqua;}
section div:nth-of-type(3){background-color: burlywood;}

.parent{
height: 70px;
border: 2px solid;
display: flex;
justify-content: center;
background-color: antiquewhite;
}
.child{
margin: 0% auto;
width: 90%;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}