body{
    background-image: url(718186-railway-station-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
@font-face {
    font-family: "digital-7";
    src: url("digital-7.ttf");
}
div{
    position: relative;
    top: 70px;
    left: 140px;
    height: 70px;
    width: 300px;
    color: yellow;
    text-shadow: yellow 1px 5px 10px;
    font-size: 70px;
    background-color: rgba(0, 0, 0, 0.764);
    background-clip: content-box;
    border: 10px solid rgba(0, 0, 0, 0.737);
    box-shadow: rgba(0, 0, 0, 0.737) 1px 1px 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    place-items: center;
    font-weight: bold;
    font-family: "digital-7";
    transform: skewX(-20deg);
    transform: rotate(7deg);
}